<h1>New Message</h1>

<form action="/new" method="POST">

    <input
        type="text"
        name="author"
        placeholder="Your name"
        required
    >

    <br><br>

    <textarea
        name="messageText"
        placeholder="Your message"
        required
    ></textarea>

    <br><br>

    <button type="submit">
        Submit
    </button>

</form>